@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Goudy+Bookletter+1911&display=swap');

@font-face {
    font-family: "Outfit";
    src: url("./assets/fonts/outfit/static/Outfit-Regular.ttf");
}

@font-face {
    font-family: "Outfit";
    font-weight: bold;
    src: url("./assets/fonts/outfit/static/Outfit-Bold.ttf");
}

@font-face {
    font-family: "Outfit";
    font-weight: 600;
    src: url("./assets/fonts/outfit/static/Outfit-SemiBold.ttf");
}

.recipePage {
    background-color: white;
    color: #303030;
    font-family: "Outfit";
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.recipePage h1 {
    font-family: "EB Garamond", serif;
    font-size: 56px;
    margin: 0;
    padding: 0;
}

.recipePage h2 {
    font-family: "EB Garamond", serif;
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.recipePage span, .measurement {
    font-weight: bold;
}

.recipePage div {
    margin-left: 2rem;
    margin-right: 2rem;
}

.omeletteImage {
    width: 100%;
}

.prepTime {
    background-color: #fff7fc;
    border-radius: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.prepTime h3 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #83274f;
}

.prepTime ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.prepTime li {
    padding-left: 1em; 
}

.prepTime li::before {
    content: "•";
    color: #83274f;
    font-size: 23px;
    display: inline-block;
    margin-right: 2rem;
    margin-left: -1rem;
    margin-bottom: -1rem;
}

